h1{color:lightgreen; }

body{background: white; color:lightblack; front-size:16pt;}
body{font-family: 'Permanent Marker', cursive;}
nav li {border: 2px dashed white;
{display: inline-block;}}
h1 {border-left: 8px solid yellow} 