h1{color:darkgreen; }

body{background: lightblue; color:white; font-size:22pt;}
body{font-family: 'Permanent Marker', cursive;}
nav li {border: 2px dashed white;
{display: inline-block;}}
h1 {border-left: 8px solid black;font-size:50pt;} 
h2 {font-size: 130%;font-style: italic} 