h1{color:lightgreen; }

body{background: white; color:dimgray; font-size:20pt;}
body{font-family: 'Permanent Marker', cursive;}
nav li {border: 2px dashed white;
{display: inline-block;}}
h1 {border-left: 8px solid yellow} 
