h1{color:darkblue; }

body{background: lightgreen; color:lightblack; font-size: 18pt;}
body{font-family: 'Permanent Marker', cursive;}
nav li {border: 2px dashed white;
{display: inline-block;}}
h1 {border-left: 8px solid yellow} 
